<ion-header>
  <ion-navbar>
    <ion-title>
     News  
    </ion-title>
   
    
    <ion-buttons end>
        
    
        <button ion-button (click)=toggle()>
            <ion-icon name="flash" large color="danger" (click)="toggle()" *ngIf="!reorderT"></ion-icon>
            <ion-icon name="flash" large color="secondary" (click)="toggle()" *ngIf="reorderT"></ion-icon>
          </button>
        <button ion-button (click)=addcontant()>
          <ion-icon name="add-circle"></ion-icon>
         
        </button>
        
        </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding center text-center dir="rtl">
   
      
    <img src="../../assets/imgs/st.png" width="100" height="100" >
    <h1>أخر الآخبار</h1>
   
   
     
     <ion-input type="text" placeholder="كلمة البحث" [(ngModel)]= custom></ion-input>
    <button color="primary" ion-button (click)="alldetails()" style="width:150px">ابحث </button><br>
    <button color="secondary" ion-button (click)="about()" style="width:150px">عن البرنامج</button><br>
   
  

 
<ion-list [reorder]="reorderT" (ionItemReorder)="Reorder($event)"> 
  
  <ion-item-sliding *ngFor="let item of global.countrycode; let i=index" (click)="details(item,item.id)"> 
  <ion-item>  
    {{item.country}}</ion-item>

  <ion-item-options side="right">
    <ion-icon name="trash" color="danger" (click)="deletelocation(i)"></ion-icon>
    </ion-item-options>
  </ion-item-sliding>

  
  
   </ion-list>


  
</ion-content>
